* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* hace que el ancho y alto incluyan el padding y el borde */
    
}
 
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* tipografía principal */
    overflow-x: hidden; /* Elimina el scroll horizontal */
}
 
header {
    display: grid; /* utiliza sistema de cuadrícula para organizar elementos */
    grid-template-columns: 24% 22% 53%; /* 20% logo, 20% buscador y 60% menu */
    height: 80px;
    background-color: #252535;
    margin: auto;
    color: #E3D4FF;
    width: 100%;
}
 
#logoh {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 70%; /* 30% logo y 70% nombre */
    grid-template-rows: 60px; 
    place-items: center; /* centra el contenido en ambas direcciones */
}
 
.icono {
    width: 60%;
    height: 100%;
    margin-top: 15px; /* bajamos el icono para alinearlo */
}

.nombre {
    margin-top: 10px; /* lo alineamos verticalmente */
    margin-right: 40px; /* lo separamos horizontalmente del icono */
}

#buscador{
    display: flex; /* flex para organizar input y botón */
    height: 30px;
    position: relative; /* para poder posicionar el botón de forma absoluta dentro de este contenedor */
    place-self: center; /* centra el buscador dentro de su celda en el grid */
    margin-bottom: 10px; /* centramos el buscador de manera vertical */
}

input{
    width: 300px; /* ancho del campo de texto */
    padding: 10px; /* espaciado interno */
    padding-right: 35px; /* espacio adicional a la derecha para no tapar el botón */
    border-radius: 5px; /* redondear bordes */
    border: 0; /* sin borde */
    outline: none; /* elimina borde al hacer clic */
    font-size: 15px;
}

button{
    background-color: #E3D4FF;
    padding: 8px 15px; /* espaciado interno o relleno */
    position: absolute; /* posición absoluta dentro del contenedor */
    border: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto; /* centrado vertical */
    border-radius: 0 5px 5px 0; /* bordes redondeados solo en el lado derecho */
    color: #252535; /* color del icono */
    cursor: pointer; /* cursor de mano al pasar el mouse */
}
 
#menu { 
    width: 100%;
    height: 100%;
}
 
.nav {
    display: grid;
    grid-template-columns: repeat(5, 20%); /* 5 columnas de igual ancho */
    grid-template-rows: 80px; 
    margin: 10px 0 0 10px; /* 10px arriba, 0 a la derecha, 0 abajo y 10px a la izquierda */
    place-content: center; /* centra el contenido dentro del grid */
    place-items: center; /* centra los elementos dentro de las celdas */
    text-transform: capitalize; /* hace que la primera letra de cada palabra esté en mayuscula */
    margin-left: 200px; /* margen para separar del buscador y mejorar el diseño visual */
}
 
.nav li { /* items de la lista de menú */
    list-style: none; /* quitamos los puntitos que determinan la lista */
    width: 100%; 
    height: 50px;
    display: grid;
    place-items: center;
    grid-template-rows: 40px;
}
 
.nav li a { /* enlaces del menú */
    margin-bottom: 16px; /* margen de abajo para alinearlo visualmente */
    text-align: center;
    text-decoration: none; /* quitamos el subrayado */
    color: #e3d4ff;
}
 
.nav li a:hover {  /* pasar el cursor por encima de los enlaces  */
    text-decoration: none;
    color: #4f4f6e; /* cambia de color cuando se le pone el cursor encima */
;
}
 
.nav li:hover .Submenu { /* despliegue del submenú */
    visibility: visible;
}
 
.Submenu {
    visibility: hidden; /* oculto por defecto */
    display: grid;
    grid-template-rows: auto; /* altura adaptable */
    width: 110px;
    height: auto;
    border-radius: 10px;
    z-index: 1; /* asegura que aparezca sobre otros elementos */
    background-color: #4f4f6e;
    align-items: center;
    place-self: center; /* centrado dentro del contenedor padre */
}
 
.Submenu li {
    width: 100%;
    height: 50%;
    margin-top: 10px; /* bajamos un poco los elementos para mejorar su diseño visual */
    text-align: center; /* centra el texto horizontalmente */
    display: grid;
    place-content: center;
    place-items: center;
}

main{
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente si le das altura */
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
    background-color: #cce1fd96;
}

.carrusel{
    width: 600px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
    
}

.carrusel ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite normal ease-in-out;
}

.carrusel li{
    width: 100%;
    list-style: none;
    position: relative;
}

.carrusel img{
    width: 100%;
}
 
@keyframes slide{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

@media (max-width: 991px) {
    body {
        padding: 30px;
    }

    .carrusel {
        width: 100%;
    }
}

.categorias {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px;
}

.carta {
  position: relative;
  width: 300px;
  height: 300px;
  background: #E3D4FF;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: 0.3s;
}

.carta .categoria-img {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carta .categoria-img img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.carta .contenido {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: rgb(236, 223, 253);
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  transform: translateY(100%);
  transition: transform 0.3s ease;
  text-align: center;
}

.carta:hover .contenido {
  transform: translateY(0);
}

.carta .contenido h2 {
  margin: 0 0 10px;
  color: var(--clr);
  font-size: 1.3rem;
}

.carta .contenido p {
  font-size: 0.95rem;
  color: #333;
}

.carta .contenido a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background: var(--clr);
  color: white;
  border-radius: 6px;
  text-decoration: none;
}


footer{
    background-color: #252535;
    color: #E3D4FF;
    font-size: 14px;
    height: 200px;
    padding: 40px 20px 10px;
}

.contenedor {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
    align-items: start;
}

.logof img {
    width: 80px;
    margin-bottom: 10px;
}

.logof p {
    line-height: 1.6;
    font-size: 14px;
}

.columna ul {
    list-style: none;
    padding: 0;
}

.columna ul li {
    margin-bottom: 10px;
}

.columna ul li a {
    color: #E3D4FF;
    text-decoration: none;
    transition: color 0.3s;
}

.columna ul li a:hover {
    color: #BCA6FF;
}

.contactos {
    margin-top: 10px;
}

.contactos a {
    margin-right: 10px;
    font-size: 18px;
    color: #E3D4FF;
    transition: color 0.3s;
}

.contactos a:hover {
    color: #BCA6FF;
}

.creditos {
    text-align: center;
    font-size: 13px;
    color: #E3D4FF;
    background-color: #252535;
    margin-bottom: 10px;
}